<a href="https://colab.research.google.com/github/GSP31/GSP31/blob/main/Missing_values_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic

Dataset     [link text](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df= pd.read_csv('train.csv')
#test = pd.read_csv('test.csv')

In [ ]:
print('Shape',df.shape)

Shape (891, 12)

In [ ]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.shape

(891, 12)

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Drop some features

In [ ]:
df.drop("Name",axis=1,inplace=True)
df.drop("Ticket",axis=1,inplace=True)
df.drop("PassengerId",axis=1,inplace=True)
df.drop("Cabin",axis=1,inplace=True)
df.drop("Embarked",axis=1,inplace=True)

In [ ]:
df.shape

(891, 7)

### For categorical values use Label Encoding or One Hot Encoding.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])

In [ ]:
df.head(3)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

### Check missing values

In [ ]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

### X and y

In [ ]:
#splitting the data into x and y
#y = df['Survived']
#df.drop("Survived",axis=1,inplace=True)

In [ ]:
X = df.drop('Survived', axis=1)
y = df['Survived']

## Data split

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

### Logistic regression

* Error because of missing values

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

lr = LogisticRegression()
#lr.fit(X_train,y_train)

## Deal with missing values

* Drop the feature with missing data

In [ ]:
updated_df = df.dropna(axis=1)

updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(1), int32(1), int64(4)
memory usage: 38.4 KB

In [ ]:
X_train, X_test,y_train,y_test = train_test_split(updated_df,y,test_size=0.3)

In [ ]:
lr.fit(X_train,y_train)
pred = lr.predict(X_test)

print(metrics.accuracy_score(pred,y_test))

1.0

### Drop feature vectors with missing data

In [ ]:
updated_df = df.dropna(axis=0)

In [ ]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 41.8 KB

In [ ]:
y1 = updated_df['Survived']
updated_df.drop("Survived",axis=1,inplace=True)

In [ ]:
X_train, X_test,y_train,y_test = train_test_split(updated_df,y1,test_size=0.3)

In [ ]:
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred,y_test))

0.7767441860465116

### Filling the Missing Values – Imputation

* Filling the missing data with the mean or median value if it’s a numerical variable.
* Filling the missing data with mode if it’s a categorical value.

In [ ]:
new_updated_df = df
new_updated_df['Age']=new_updated_df['Age'].fillna(new_updated_df['Age'].mean())
new_updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [ ]:
y1 = new_updated_df['Survived']
new_updated_df.drop("Survived",axis=1,inplace=True)

In [ ]:
X_train, X_test,y_train,y_test = train_test_split(new_updated_df,y1,test_size=0.3)

In [ ]:
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred,y_test))

0.8059701492537313